.outerContainer {
margin-left: -67px;
width: 1500px;
height: 487px;
background: transparent url('../images/Group 227.png') 0% 0% no-repeat padding-box;
opacity: 1;

}



.inLineHead {
padding-top: 142px;
margin-left: 420px;
text-align: left;
font: normal normal 800 44px/54px Gilroy;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}

.containerDescription {
padding-top: 23px;
margin-left: 142px;
margin-right: 142px;
text-align: center;
font: normal normal 300 20px/33px Gilroy;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}

.joinBtn {

margin-top: 23px;
margin-left: 675px;
width: 188px;
height: 56px;
text-align: center;
background: transparent linear-gradient(90deg, #FF7B89 0%, #F69C57 100%) 0% 0% no-repeat padding-box;
border-radius: 33px;
opacity: 1;

}

.arrow {
margin-left:10px;
width: 18px;
height: 18px;
opacity: 1;

}