.footerContainer {
  background: transparent url('../../assets/images/Group\ 228.png ') 0% 0% no-repeat
    padding-box;
  background-size: cover;
  opacity: 1;
}
.row > * {
  margin-right: -30px;
  margin-bottom: 5px;
}

.description {
  padding-top: 15px;
  height: 46px;
  text-align: left;
  font: normal normal 300 13px/19px Gilroy;
  letter-spacing: 0px;
  color: #7768a2;
  opacity: 1;
}

.aciaLogo {
  width: 132px;
  height: 36px;
  background: transparent url('../images/logo.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.alignText {
  color: #ffff;
  letter-spacing: 0px;
  font: normal normal 300 18px/33px Gilroy;
  font-weight: lighter;
}

.columnTitle {
  padding-top: 112px;
  font: normal normal 800 18px/33px Gilroy;
  letter-spacing: 0px;
  height: 22px;
  color: #ffff;
  font-weight: bolder;
}

.facebook {
  width: 41px;
  height: 41px;
}

.twitter {
  width: 41px;
  height: 41px;
}

.linkedIn {
  width: 41px;
  height: 41px;
}

.youTube {
  width: 41px;
  height: 41px;
}

.horizontalLine {
  background-color: white;
}

.bottomLine {
  text-align: center;
  font: normal normal 300 17px/19px Gilroy;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.innerLink {
  color: white;
  padding-top: 18px;
  letter-spacing: 0px;
  font: normal normal 300 18px/33px Gilroy;
  font-weight: lighter;
}
