.logoIpsum {
  width: 326px;
  height: 110px;
}

.amara {
  width: 326px;
  height: 110px;
}

.aven {
  width: 326px;
  height: 110px;
}

.treva {
  width: 326px;
  height: 110px;
}

.container {
  height: 271px;
  margin-left: 170px;
}
